n8n-workflows/gemini-chat-model-test.json
{
  "name": "Gemini Chat Model Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-test",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-test",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "gemini-test"
    },
    {
      "parameters": {
        "functionCode": "// 提取用户消息\nconst webhookData = $input.first().json;\nconst userMessage = webhookData.message || 'Hello, this is a test message';\n\nreturn {\n  message: userMessage,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "messageContent": "={{ $json.message }}",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 200,
          "topP": 0.8,
          "topK": 40
        }
      },
      "id": "gemini-chat",
      "name": "Google Gemini Chat Model",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 格式化Gemini响应\nconst geminiResponse = $json;\nconst inputData = $('Prepare Message').first().json;\n\nreturn {\n  success: true,\n  userMessage: inputData.message,\n  geminiResponse: geminiResponse.text || geminiResponse.message || 'No response from Gemini',\n  timestamp: new Date().toISOString(),\n  model: 'gemini-1.5-flash',\n  testStatus: 'Gemini Chat Model工作正常！'\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Google Gemini Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}