n8n-workflows/simple-test.json
{
  "name": "Simple Gemini Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "simple-test",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "simple-test"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=AIzaSyBqCmvQ40oXkUDuJz-qhg_8Uph3QLm8f1k",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"你好！请回复：测试成功，我是Gemini AI！现在时间是\" + new Date().toLocaleString()\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 200\n  }\n} }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "gemini-call",
      "name": "Direct Gemini Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract response from Gemini and format it\nconst geminiResponse = $json;\n\nlet responseText = \"Gemini API调用失败\";\n\nif (geminiResponse && geminiResponse.candidates && geminiResponse.candidates[0]) {\n  responseText = geminiResponse.candidates[0].content?.parts?.[0]?.text || \"无法获取Gemini响应\";\n}\n\nreturn {\n  success: true,\n  response: responseText,\n  timestamp: new Date().toISOString(),\n  debug: {\n    rawGeminiResponse: geminiResponse\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Direct Gemini Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Gemini Call": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}